---
import Layout from '../layouts/Layout.astro';
import HeroIntro from '../components/sections/HeroIntro.astro';
import TimeStats from '../components/interactive/TimeStats';
import MemoriesTimeline from '../components/sections/MemoriesTimeline';
import HorizontalGallery from '../components/interactive/HorizontalGallery';
import SpotlightReveal from '../components/interactive/SpotlightReveal';
import StoryChatAndKiss from '../components/interactive/StoryChatAndKiss';
import VinylPlayer from '../components/interactive/VinylPlayer';
import JourneyPath from '../components/interactive/JourneyPath';
import SwipeReasons from '../components/interactive/SwipeReasons';
import WorldToggle from '../components/interactive/WorldToggle';
import HoldToReveal from '../components/interactive/HoldToReveal';
import StoryContinues from '../components/interactive/StoryContinues';

import { chapters } from '../components/ui/Chapters';
import { galleryPhotos } from '../components/ui/GalleryPhotos';
---

<Layout title="Наша история">
  <div class="mx-auto w-full max-w-md">
    <HeroIntro />
    <VinylPlayer client:visible />

    <StoryChatAndKiss client:load />
    <!-- <ChattingPhase client:visible />
    <MeetingAnimation client:load /> -->
    <TimeStats client:visible />
    <WorldToggle client:visible />
    <MemoriesTimeline chapters={chapters} client:visible />
  </div>

  <SpotlightReveal client:visible />

  <HorizontalGallery photos={galleryPhotos} client:visible />

  <div class="mx-auto w-full max-w-md">
    <JourneyPath client:visible />
    <SwipeReasons client:visible />
    <HoldToReveal client:visible />
    <StoryContinues client:visible />
  </div>
</Layout>
